<div class="navbar">
  <div class="container">

    <%= link_to root_path, class:"house-logo" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <div class="d-flex justify-content-center">
      <div class="container">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>

    <div class="user-and-save-btn">
      <%= link_to dashboard_path, class:"save-logo" do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>

      <div class="nav-item dropdown">
        <i class="fa-regular fa-user avatar dropdown-toggle " id= "navbarDropdown" data-bs-toggle= "dropdown", aria-haspopup= "true", aria-expanded= "false"></i>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          <% else %>
            <a class="dropdown-item" href="<%= new_user_session_path %>">Login</a>
            <a class="dropdown-item" href="<%= new_user_registration_path %>">Sign up</a>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>
