<div class="navbar">

<%# HOUSE LOGO TO HOMEPAGE %>
  <div>
    <%= link_to root_path, class:"house logo-navbar" do %><i class="fa-solid fa-house"></i>HOME<% end %>
  </div>
<%# DIV FOR SAVED USER LOG OUT LOGO %>
  <div class="all-logos-navbar">
<%# SAVE FLAG TO DASHBOARD %>
    <div>
      <%= link_to dashboard_path, class:"bookmark logo-navbar" do %><i class="fa-solid fa-bookmark"></i>Saved<% end %>
    </div>

<%# LOGIN AND SIGN UP %>
    <% if user_signed_in? %>
      <div><%= link_to destroy_user_session_path, class: "logout logo-navbar", data: {turbo_method: :delete} do %> <i class="fa-solid fa-right-from-bracket"></i>Log Out<% end %></div>
    <% else %>
      <div><%= link_to new_user_session_path, class: "user logo-navbar" do %><i class="fa-solid fa-user"></i>Login<% end %></div>
      <div><%= link_to new_user_registration_path, class:"signin logo-navbar" do %><i class="fa-solid fa-file-signature"></i>Sign Up<% end %></div>
              <%#<a class="dropdown-item" href="<%= new_user_session_path %><%# ">LOGIN</a> %>
              <%#<a class="dropdown-item" href="<%= new_user_registration_path %><%# ">SIGN UP</a> %>
    <% end %>
  </div>
</div>
