<%# <div class= "form_card">
    <%= simple_form_for @experience do |f| %>
      <%# <%= f.input :username, :label => 'Your name' %>
      <%# <%= f.input :rating, :label => 'rating' %>
      <%# <%= f.input :content, :label => 'Your experience' %>
      <%# <%= f.input :photo, as: :file %>
      <%# <%= f.button :submit, "share", class:"btn btn-success" %>
    <%# <% end %>
<%# </div> %>

<div class="footer">
  <div class="footer-copyright">
      NB Natuurbuur
  </div>
