
<div class="form" data-create-experience-target="insertform" >
  <%= simple_form_for [solution, experience],
  html: {
    data: { create_experience_target: "form",
    action: "submit->create-experience#send" }
    } do |f| %>
    <%= f.input :rating, :label => 'Rating (From 1 to 5)' %>
    <%= f.input :content, :label => 'Your experience' %>
    <%= f.input :photo, as: :file %>
    <div class="form-button">
    <% if user_signed_in?  %>
      <%= f.button :submit, "Share"%>
    <% else %>
      <%= "You have to be signed in to write a review ! 😊" %>
    <% end %>
    </div>
  <% end %>
</div>
