<div class="small-card">
    <% if user_signed_in? %>
      <% if @favourites.include? solution%>
        <%= link_to favourite_path(solution), data: {turbo_method: :delete, turbo_confirm: "Remove this solutions from yor favorites ?"} do %>
          <i class="fa-solid fa-bookmark orange"></i>
          <% end %>

      <% else%>

      <%= link_to solution_favourites_path(solution), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to solution_favourites_path(solution), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>

    <% end %>
  <%= link_to solution_path(solution) do %>
    <div class="content-small-card">
      <div><%= cl_image_tag solution.photos[1].key, class: "rounded-pictures"%></div>

      <h3><%= solution.title %></h3>

      <p><%= solution.intro %></p>

      <%# 'FOOTER' CARD WITH LEFT:ICONS and RIGHT:PRICE %>
      <div class="details-small-card">

        <%# ICONS %>
        <div class="icons-details-small-card">
          <%= render "icons_details_card", solution:solution %>
        </div>

        <%# PRICE %>
        <div class="price-details-small-card">
          <% if solution.price == 0 %>
            <h3>Free</h3>
          <% else %>
          <h3>€ <%= solution.price %></h3>
          <% end %>
        </div>

      <%# end of details-card %>
      </div>

    <%# end of content-card %>
    </div>

  <%# end of cliquable cards %>
  <% end %>

<%# end of small-cards %>
</div>
