<% resizing = (297/700.0) %>
<% @solutions = Solution.all %>

<div class="mapdiv" style="position:sticky; top:60px;">
  <map name="big-image" style="position:absolute">

    <%# Sqm  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Square meter garden"} %>
    <a id="sqm" style="position:absolute;left:<%= (195.639/resizing)+20 %>px; top:<%= (112.508/resizing)+5 %>px; width:<%= (13.409)+30 %>px; height:<%= 32 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Sqm ground  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Square meter garden (ground)"} %>
    <a id="sqm-ground" style="position:absolute;left:<%= (183.679/resizing)+20 %>px; top:<%= (120.856/resizing)+6 %>px; width:<%= (13.409)+30 %>px; height:<%= 29 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Fruit tree  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Fruit tree"} %>
    <a id="fruit-tree" style="position:absolute;left:<%= 400.747475 %>px; top:<%= (114.299/resizing)+13 %>px; width:<%= 50 %>px; height:<%= 60 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Espalier  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Espalier"} %>
    <a id="espalier" style="position:absolute;left:<%= 509.8 %>px; top:<%= 222 %>px; width:<%= 157 %>px; height:<%= 127 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Climate tree  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Climate tree"} %>
    <a id="climate-tree" style="position:absolute;left:<%= (40.871/resizing)+38 %>px; top:<%= (34.363/resizing)+12 %>px; width:<%= ((65.536/resizing)-(40.871/resizing))+10 %>px; height:<%= ((67.434/resizing)-(34.363/resizing))+10 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Roof tree  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Roof tree"} %>
    <a id="roof-tree" style="position:absolute;left:<%= (130.256/resizing)+35 %>px; top:<%= (138.973/resizing)+12 %>px; width:<%= ((163.047/resizing)-(130.256/resizing))+10 %>px; height:<%= ((172.044/resizing)-(138.973/resizing))+10 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Rainwater pond  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Rainwater pond"} %>
    <a id="rainwater-pond" style="position:absolute;left:<%= (76.529/resizing)+31 %>px; top:<%= (49.673/resizing)+18 %>px; width:<%= ((110.196/resizing)-(76.529/resizing))+19 %>px; height:<%= ((70.721/resizing)-(49.673/resizing))+19 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Mini pond  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Mini pond"} %>
    <a id="mini-pond" style="position:absolute;left:<%= (206.971/resizing)+38 %>px; top:<%= (17.258/resizing)+14 %>px; width:<%= ((215.587/resizing)-(206.971/resizing))+10 %>px; height:<%= ((25.873/resizing)-(17.258/resizing))+10 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Bioswale  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Bioswale"} %>
    <a id="bioswale" style="position:absolute;left:<%= 350 %>px; top:<%= 443 %>px; width:<%= 94 %>px; height:<%= 53 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Micro forest  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Micro forest"} %>
    <a id="micro-forest" style="position:absolute;left:<%= (201.36/resizing)+31 %>px; top:<%= (127.1/resizing)+12 %>px; width:<%= ((228.775/resizing)-(201.36/resizing))+20 %>px; height:<%= ((166.579/resizing)-(127.1/resizing))+20 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Green balcony  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Balcony green"} %>
    <a id="balcony-green" style="position:absolute;left:<%= 477 %>px; top:<%= 29 %>px; width:<%= 36.6 %>px; height:<%= 38 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Branch rill  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Branch rill"} %>
    <a id="branch-rill" style="position:absolute;left:<%= 274.5 %>px; top:<%= 209.4 %>px; width:<%= 68 %>px; height:<%= 51 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Willow hut  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Willow hut"} %>
    <a id="willow-hut" style="position:absolute;left:<%= (147.117/resizing) %>px; top:<%= (78.433/resizing)-15 %>px; width:<%= (27.769)+57 %>px; height:<%= (27.769)+47 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%#  Blue roof %>
    <% clicked_solution = @solutions.select {|s| s.title == "Blue roof"} %>
    <a id="blue-roof" style="position:absolute;left:<%= 62 %>px; top:<%= 199 %>px; width:<%= 151 %>px; height:<%= 91 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Green flat  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Green roof"} %>
    <a id="green-roof" style="position:absolute;left:<%= 143.5 %>px; top:<%= 225.7 %>px; width:<%= 165 %>px; height:<%= 107 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Self-attaching  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Self-attaching climbing plant"} %>
    <a id="self-attaching" style="position:absolute;left:<%= (21.272/resizing)+30 %>px; top:<%= (155.607/resizing)+18 %>px; width:<%= ((31.551/resizing)-(21.272/resizing))+13 %>px; height:<%= ((185.214/resizing)-(155.607/resizing))+13 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Non-self-attaching  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Non-self-attaching climbing plant"} %>
    <a id="non-self-attaching" style="position:absolute;left:<%= (7.459/resizing)+37 %>px; top:<%= (154.087/resizing)+14 %>px; width:<%= ((19.799/resizing)-(7.459/resizing))+10 %>px; height:<%= ((178.688/resizing)-(154.087/resizing))+10 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Hedge  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Hedge"} %>
    <a id="hedge" style="position:absolute;left:<%= 297 %>px; top:<%= 19.6 %>px; width:<%= 142 %>px; height:<%= 98 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Permeable pavement  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Permeable pavement"} %>
    <a id="permeable-pavement" style="position:absolute;left:<%= 521.5 %>px; top:<%= 116 %>px; width:<%= 121 %>px; height:<%= 66 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Grey to green  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Grey to green"} %>
    <a id="grey-to-green" style="position:absolute;left:<%= 233 %>px; top:<%= 441 %>px; width:<%= 121 %>px; height:<%= 73 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Car sharing  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Car sharing"} %>
    <a id="car-sharing" style="position:absolute;left:<%= 591 %>px; top:<%= 208 %>px; width:<%= 108 %>px; height:<%= 66 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Mow less  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Mow less"} %>
    <a id="mow-less" style="position:absolute; left:<%= 319 %>px; top:<%= 230 %>px; clip-path:polygon(157px 28px, 585px 254px, 1 118px, 0 118px); width: 141px; height: 102px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# HP  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Heat pump"} %>
    <a id="heat-pump" style="position:absolute;left:<%= (232.842/resizing)+38 %>px; top:<%= (13.681/resizing)+12 %>px; width:<%= ((243.959/resizing)-(232.842/resizing))+10 %>px; height:<%= ((23.655/resizing)-(13.681/resizing))+10 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Roof insulation  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Roof insulation"} %>
    <a id="roof-insulation" style="position:absolute; left:<%= 605 %>px; top:<%= 261 %>px; clip-path:polygon(135px 28px, 135px 196px, 0 118px); width: 200px; height: 200px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

    <%# Rainwater barrel  %>
    <% clicked_solution = @solutions.select {|s| s.title == "Rainwater barrel"} %>
    <a id="rainwater-barrel" style="position:absolute;left:<%= (109.196/resizing)+38 %>px; top:<%= (170.575/resizing)+14 %>px; width:<%= ((116.665/resizing)-(109.196/resizing))+9 %>px; height:<%= ((182.587/resizing)-(170.575/resizing))+9 %>px;"
    data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
    title="<%= clicked_solution.first.title %>" data-bs-content="<%= clicked_solution.first.intro %> Learn more!"
    href="/solutions/<%= clicked_solution.first.id %>"></a>

  </map>

  <%= image_tag "big_image.png", id: "big-image-id", usemap: "#big-image", alt: "Upgreen visual table of content"%>

</div>
