 <div class="card-review">
        <%  if experience.photo.key != nil %>
        <div class= "container-img">
          <%= cl_image_tag experience.photo.key, class: "image"%>
        </div>
          <% else %>
          <p>     </p>
        <% end %>
        <div class="card-review-infos">

          <B> <%= experience.user.username %></B>
          <p><%= experience.content %></p>
        </div>
         <div class="rating">
           <p> <%= experience.rating %>/5</p>
           <% if experience.user == current_user %>
            <%= link_to "Delete", experience_path(experience), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
            <% end %>
         </div>
  </div>
