
<div class="form">
  <%= simple_form_for [@solution, @experience] do |f| %>
    <%= f.input :rating, :label => 'Rating' %>
    <%= f.input :content, :label => 'Your experience' %>
    <%= f.input :photo, as: :file %>
    <div class="form-button">
      <%= f.button :submit, "Share"%>
    </div>
  <% end %>
</div>
