<div class="likes-detail">
  <i class="fa-solid fa-heart"></i>
  <p><%= solution.likes.count %></p>
</div>

<div class="rating-detail">
  <i class="fa-solid fa-star"></i>
  <p><%= solution.average_rating %></p>
</div>

<div class="comment-detail">
  <i class="fa-solid fa-comment"></i>
  <p><%= solution.experiences.count %></p>
</div>

<div class="difficulty-detail">
  <% if solution.difficulty == "Easy" %>
    <i class="fa-solid fa-face-smile"></i>
    <p><%= solution.difficulty %></p>
  <% elsif solution.difficulty == "Medium" %>
    <i class="fa-solid fa-face-meh"></i>
    <p><%= solution.difficulty %></p>
  <% else %>
    <i class="fa-solid fa-face-frown"></i>
    <p><%= solution.difficulty %></p>
  <% end %>
</div>
