<%# CARDS INDEX %>
<div class="cards-index">
  <% @solutions.each do |solution| %>
    <%# <%= link_to solution_path(solution) do %>
      <%# SMALL CARD: EVERYTHING CENTERED %>
      <div class="small-card">
         <%= link_to solution_favourites_path(solution), data: {turbo_method: :post, turbo_confirm: "Add to your favourites ?"} do %>
          <i class="fa-solid fa-bookmark"></i>
         <% end %>
        <div class="content-small-card">
          <div><%= cl_image_tag solution.photo.key, class: "rounded-pictures"%></div>

          <h3><%= solution.title %></h3>

          <p><%= solution.intro %></p>

          <%# 'FOOTER' CARD WITH LEFT:ICONS and RIGHT:PRICE %>
          <div class="details-small-card">

            <%# ICONS %>
            <div class="icons-details-small-card">

              <div class="comment-detail">
                <i class="fa-solid fa-comment"></i>
                <p>0</p>
              </div>

              <div class="likes-detail">
                <i class="fa-solid fa-heart"></i>
                <p>0</p>
              </div>

              <div class="rating-detail">
                <i class="fa-solid fa-star"></i>
                <p>New</p>
              </div>

              <div class="difficulty-detail">
                <% if solution.difficulty == "Easy" %>
                  <i class="fa-solid fa-face-smile"></i>
                  <p><%= solution.difficulty %></p>
                <% elsif solution.difficulty == "Medium" %>
                  <i class="fa-solid fa-face-meh"></i>
                  <p><%= solution.difficulty %></p>
                <% else %>
                  <i class="fa-solid fa-face-frown"></i>
                  <p><%= solution.difficulty %></p>
                <% end %>
              </div>

            </div>

            <%# PRICE %>
            <div class="price-details-small-card">
              <% if solution.price == 0 %>
                <h3>Free</h3>
              <% else %>
              <h3>€ <%= solution.price %></h3>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <%# <% end %>
  <% end %>
</div>
