<%# BANNER %>
<%= render "shared/banner" %>

<div class="cards-map">
  <%# CARDS INDEX %>
  <div class="cards-index index-grid">
    <% @solutions.each do |solution| %>
      <%# SMALL CARD: EVERYTHING CENTERED %>
      <%= render "card", solution:solution %>
    <% end %>

    <% if @solutions.empty? %>
        <%= image_tag "blank.png", width: 1 %>
      <div class="img-no-results">
        <%= image_tag "no-results.png", width: 450 %>
      </div>
    <% end %>
</div>

  <%# MAP %>
  <div class="image-map">
    <%= render "clickable_map" %>
      <div class= "arrow arrow-grid" style="position:sticky; top:600px;">
        <%= image_tag "arrow.png", width: 150, height: 150 %>
        <B style="font-family: 'Zeyada', cursive; font-size: 55px;">Try it out</B>
      </div>
  </div>
</div>
