<% content_for :meta_title, "#{@solution.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @solution.intro %>
<% content_for :meta_image, cl_image_path(@solution.photos.first.key) if @solution.photos.attached? %>

<div class="show-card">
  <div class="image-card">
    <% if user_signed_in? %>
      <% if @favourites.include? @solution%>
        <%= link_to favourite_path(@solution), data: {turbo_method: :delete, turbo_confirm: "Remove this solution from your favourites?"} do %>
          <i class="fa-solid fa-bookmark orange"></i>
        <% end %>
      <% else%>
        <%= link_to solution_favourites_path(@solution), data: {turbo_method: :post} do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to solution_favourites_path(@solution), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    <% end %>

    <%= cl_image_tag @solution.photos.first.key, class: "show-image" %>

    <div class="side-text">
      <h2><%= @solution.title%></h2>
      <br>
      <p><%= @solution.intro%></p>
      <br>
      <div class="advantages">
        <%= render "advantages_show_card", solution: @solution %>
      </div>
      <br>
      <br>
      <div class="icons-details-card">
        <%= render "icons_details_card", solution: @solution %>
      </div>
    </div>
  </div>

  <div class="text-card">
    <h3>Some more information</h3><hr>
    <p><%= @solution.explanation %></p>
  </div>

</div>

<div class="experiences-card">
  <div class="experiences-display">
    <h2>Reviews :</h2><br>

    <% @solution.experiences.each do |experience| %>
      <div class="card-review">
        <%  if experience.photo.key != nil %>
        <div class= "container-img">
          <%= cl_image_tag experience.photo.key, class: "image"%>
        </div>
          <% else %>
          <p>no image</p>
        <% end %>
        <div class="card-review-infos">
          <p><%= experience.content %></p>
        </div>
         <div class="rating">
            <%= experience.rating %>
         </div>
      </div>
    <% end %>
  </div>

   <div class="form">
    <%= simple_form_for [@solution, @experience] do |f| %>
    <%= f.input :rating, :label => 'Rating' %>
    <%= f.input :content, :label => 'Your experience' %>
    <%= f.input :photo, as: :file %>
    <div class="form-button">
    <%= f.button :submit, "Share" %>
    <% end %>
    </div>
</div>
</div>
