<% content_for :meta_title, "#{@solution.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @solution.intro %>
<% content_for :meta_image, cl_image_path(@solution.photos.first.key) if @solution.photos.attached? %>

<div class="title-page"><h1 ><%= "Read all the details about #{@solution.title}:" %></h1></div>
<div id="banner-solution-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);"></div>


<div class="show-card">
  <div class="image-card">
  <%# To add to youre favourites or remove if we are login%>
    <% if user_signed_in? %>
      <% if @favourites.include? @solution%>
        <%= link_to favourite_path(@solution), data: {turbo_method: :delete, turbo_confirm: "Remove this solution from your favourites?"} do %>
          <i class="fa-solid fa-bookmark orange"></i>
        <% end %>
      <% else%>
        <%= link_to solution_favourites_path(@solution), data: {turbo_method: :post} do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to solution_favourites_path(@solution), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    <% end %>

    <%# Carousel for main image %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @solution.photos[0].key, class: "d-block show-image", alt:"First slide" %>
        </div>
        <div class="carousel-item ">
          <%= cl_image_tag @solution.photos[2].key, class: "d-block show-image", alt:"Second slide" %>
        </div>
        <div class="carousel-item ">
          <%= cl_image_tag @solution.photos[3].key, class: "d-block show-image", alt:"Second slide" %>
        </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="side-text">
      <h2><%= @solution.title%></h2>
      <br>
      <p><%= @solution.intro%></p>
      <br>
      <div class="advantages">
        <%= render "solutions/advantages_show_card", solution: @solution %>
      </div>
      <br>
      <br>
      <div class="icons-details-card icon-left-sp">
        <div class="likes-detail">
          <%# To like or dislike if we are login%>
          <% if user_signed_in? %>

              <% if @likes.where(solution_id: params[:id]).exists?%>
                <%= link_to like_path(@solution), data: {turbo_method: :delete} do %>
                  <i class="fa-solid fa-heart"></i>
                <% end %>

              <% else%>
                <%= link_to solution_likes_path(@solution), data: {turbo_method: :post} do %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              <% end %>

            <% else %>
              <%= link_to solution_likes_path(@solution), data: {turbo_method: :post} do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
            <p><%= @solution.likes.count %></p>
          </div>

        <div class="rating-detail">
          <i class="fa-solid fa-star"></i>
          <p><%= @solution.average_rating %></p>
        </div>

        <div class="comment-detail">
          <i class="fa-solid fa-comment"></i>
          <p><%= @solution.experiences.count %></p>
        </div>

        <div class="difficulty-detail">
          <% if @solution.difficulty == "Easy" %>
            <i class="fa-solid fa-face-smile"></i>
            <p><%= @solution.difficulty %></p>
          <% elsif @solution.difficulty == "Medium" %>
            <i class="fa-solid fa-face-meh"></i>
            <p><%= @solution.difficulty %></p>
          <% else %>
            <i class="fa-solid fa-face-frown"></i>
            <p><%= @solution.difficulty %></p>
          <% end %>
        </div>

      </div>
        <div id="show_card-price"><p style="color: gray;">Estimated price:</p><h3 style="padding-right: 25px;">
          <% if @solution.price == 0 %>
            <h3>Free</h3>
          <% else %>
          <h3>€ <%= @solution.price %></h3>
          <% end %>
        </div>
    </div>
  </div>

  <div class="text-card">
    <h3>Some more information</h3><hr>
    <p><%= @solution.explanation %></p>
  </div>

</div>



  <div class="experiences-card" data-controller="create-experience">
    <div class="experiences-display" data-create-experience-target="experience">
      <h2>Reviews:</h2>
      <% if @solution.experiences.empty? %>
        <B> " Be the first one to share your experience ! " </B>
      <% end %>

      <% @solution.experiences.each do |experience| %>
      <%= render "solutions/experience", experience: experience %>
      <% end %>
    </div>
    <%= render "experiences/form_experiences", solution: @solution, experience: @experience %>
  </div>
