<div class="show_card">
  <div class="image_card">
    <% if user_signed_in? %>
      <% if @favourites.include? @solution%>
        <%= link_to favourite_path(@solution), data: {turbo_method: :delete, turbo_confirm: "Remove this solution from your favourites?"} do %>
          <i class="fa-solid fa-bookmark orange"></i>
        <% end %>
      <% else%>
        <%= link_to solution_favourites_path(@solution), data: {turbo_method: :post} do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to solution_favourites_path(@solution), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    <% end %>

    <%= cl_image_tag @solution.photo.key, class: "show-image" %>

    <div class="side_text">
      <h2><%= @solution.title%></h2>
      <br>
      <p><%= @solution.intro%></p>
      <br>
      <div class="advantages">
        <%= render "advantages_show_card", solution: @solution %>
      </div>
      <br>
      <br>
      <div class="icons-details-card">
        <%= render "icons_details_card", solution: @solution %>
      </div>
    </div>
  </div>

  <div class="text_card">
    <h3>Some more information</h3><hr>
    <p><%= @solution.explanation %></p>
  </div>

</div>
