<div class="show_card">
  <div class="image_card">
    <div>
      <%= cl_image_tag @solution.photo.key, class: "show-image" %>
    </div>

    <div class="side_text">
      <h2><%= @solution.title%></h2>
      <br>
      <p><%= @solution.intro%></p>
      <br>
      <div class="advantages">
        <% @solution.advantages.each do |advantage| %>
          <% if advantage == "Water balance" %>
            <%= image_tag "water_balance.png", alt: "Water balance" %>
          <% end %>
          <% if advantage == "Water quality" %>
            <%= image_tag "water_quality.png", alt: "Water quality" %>
          <% end %>
          <% if advantage == "Heat stress" %>
            <%= image_tag "heat_stress.png", alt: "Heat stress" , class: "heat-stress"%>
          <% end %>
          <% if advantage == "Air quality" %>
            <%= image_tag "air_quality.png", alt: "Air quality" , class: "air-quality"%>
          <% end %>
          <% if advantage == "Soil quality" %>
            <%= image_tag "soil_quality.png", alt: "Soil quality" %>
          <% end %>
          <% if advantage == "Biodiversity" %>
            <%= image_tag "biodiversity.png", alt: "Biodiversity" %>
          <% end %>
          <% if advantage == "Bye, bye sound" %>
            <%= image_tag "bye_bye_sound.png", alt: "Bye, bye sound" , class: "bye-bye-sound"%>
          <% end %>
          <% if advantage == "Health" %>
            <%= image_tag "health.png", alt: "Health" , class: "health"%>
          <% end %>
          <% if advantage == "Well-being" %>
            <%= image_tag "well_being.png", alt: "Well-being" %>
          <% end %>
          <% if advantage == "Energy use" %>
            <%= image_tag "energy use.png", alt: "Energy use" %>
          <% end %>
          <% if advantage == "Lifespan roof" %>
            <%= image_tag "lifespan_roof.png", alt: "Lifespan roof" %>
          <% end %>
          <% if advantage == "Lifespan facade" %>
            <%= image_tag "lifespan_facade.png", alt: "Lifespan facade" %>
          <% end %>
          <% if advantage == "Property value" %>
            <%= image_tag "property_value.png", alt: "Property value" %>
          <% end %>
          <% if advantage == "Drought resistance" %>
            <%= image_tag "drought_resistance.png", alt: "Drought resistance" %>
          <% end %>
          <% if advantage == "Food provision" %>
            <%= image_tag "food_provision.png", alt: "Food provision" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="text_card">
    <h3>Some more information</h3><hr>
    <p><%= @solution.explanation %></p>
  </div>

</div>
