<!DOCTYPE html>
<html>
  <head>
    <title>Upgreen-your-home-today!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= favicon_link_tag "favicon_100_100.png", rel: "icon", type: "image/png" %>
  </head>


<body>
  <%= render "shared/navbar" %>
<%#   <%= render "shared/homepage_searchbar" %>
  <div id="page-container">
    <div id="content-wrap">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <footer><%= render "shared/footer" %></footer>
  </div>
</body>
